* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: gray;
  display: flex;
}

a {
  text-decoration: none;
  transition: 0.4s;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.header {
  width: 100%;
  height: 4.5rem;
  background-color: #000;
  display: flex;
  align-items: center;
}
.header a {
  color: #fff;
}
.header a:hover {
  font-size: 1rem;
}
.header .player {
  margin-right: 3rem;
  width: 4.5rem;
  height: 4.5rem;
}
.header i {
  margin: 0.5rem;
}
.header .logo {
  width: 7rem;
  margin-left: 22rem;
  margin-right: 10rem;
}
.header .pesquisa {
  background-color: #000;
  border: none;
  outline: none;
}
.header .profile {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.options {
  width: 100%;
  height: 2rem;
  display: flex;
  margin: 0.5rem;
  margin-top: 1rem;
  margin-left: 0;
  align-items: center;
}
.options a {
  color: #000;
  font-size: 1rem;
}
.options a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}
.options .recommendations {
  margin-left: 10rem;
}

.linha {
  width: 100%;
  height: 0.05rem;
  background-color: rgb(161, 161, 161);
}

.main {
  width: 100%;
  height: 60rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 26% 18% 18% 38%;
  margin-top: 1rem;
}
.main .main1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main .main1 a:hover {
  text-decoration: underline;
}
.main .main1 .main1div {
  width: 15rem;
  height: 18rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main .main1 .main1card1 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem -0.1rem 0.5rem 0.1rem rgb(150, 150, 150);
}
.main .main1 .main1card1 .main1card1-1 {
  width: 100%;
  height: 15rem;
  display: inline-block;
  position: relative;
}
.main .main1 .main1card1 .main1card1-1 .whydoicry {
  width: 100%;
  height: 100%;
}
.main .main1 .main1card1 .main1card1-1 a {
  color: rgb(255, 255, 255);
  z-index: 2;
  margin: 1rem;
}
.main .main1 .main1card1 .main1card1-1 .track {
  font-size: 1rem;
  position: relative;
  bottom: 3rem;
}
.main .main1 .main1card1 .main1card1-1 .artist {
  position: relative;
  bottom: 3rem;
}
.main .main1 .main1card1 .main1card1-2 {
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem -3rem 3rem 0rem rgb(40, 40, 40);
  z-index: 1;
}
.main .main1 .main1card1 .main1card1-2 .h5 {
  padding: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 200;
  font-size: 0.8rem;
}
.main .main1 .main1card2 {
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem -0.1rem 0.5rem 0.1rem rgb(150, 150, 150);
}
.main .main1 .main1card2 .main1card2-1 {
  width: 100%;
  height: 15rem;
  display: inline-block;
  position: relative;
}
.main .main1 .main1card2 .main1card2-1 .loveingotham {
  width: 100%;
  height: 100%;
}
.main .main1 .main1card2 .main1card2-1 a {
  color: rgb(255, 255, 255);
  z-index: 2;
  margin: 1rem;
}
.main .main1 .main1card2 .main1card2-1 .track {
  font-size: 1rem;
  position: relative;
  bottom: 3rem;
}
.main .main1 .main1card2 .main1card2-1 .artist {
  position: relative;
  bottom: 3rem;
}
.main .main1 .main1card2 .main1card2-2 {
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem -3rem 3rem 0rem rgb(40, 40, 40);
  z-index: 1;
}
.main .main1 .main1card2 .main1card2-2 .h5 {
  padding: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 200;
  font-size: 0.8rem;
}
.main .main1 .main1card3 {
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem -0.1rem 0.5rem 0.1rem rgb(150, 150, 150);
}
.main .main1 .main1card3 .main1card3-1 {
  width: 100%;
  height: 15rem;
  display: inline-block;
  position: relative;
}
.main .main1 .main1card3 .main1card3-1 .bruises {
  width: 100%;
  height: 100%;
}
.main .main1 .main1card3 .main1card3-1 a {
  color: rgb(255, 255, 255);
  z-index: 2;
  margin: 1rem;
}
.main .main1 .main1card3 .main1card3-1 .track {
  font-size: 1rem;
  position: relative;
  bottom: 3rem;
}
.main .main1 .main1card3 .main1card3-1 .artist {
  position: relative;
  bottom: 3rem;
}
.main .main1 .main1card3 .main1card3-2 {
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem -3rem 3rem 0rem rgb(40, 40, 40);
  z-index: 1;
}
.main .main1 .main1card3 .main1card3-2 .h5 {
  padding: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 200;
  font-size: 0.8rem;
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main2 a:hover {
  text-decoration: underline;
}
.main2 .main2div {
  width: 15rem;
  height: 18rem;
  margin-top: 2rem;
}
.main2 .main2card1 {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem -0.1rem 0.5rem 0.1rem rgb(150, 150, 150);
}
.main2 .main2card1 .main2card1-1 {
  width: 100%;
  height: 15rem;
  display: inline-block;
  position: relative;
}
.main2 .main2card1 .main2card1-1 .programado {
  width: 100%;
  height: 100%;
}
.main2 .main2card1 .main2card1-1 a {
  color: rgb(255, 255, 255);
  z-index: 2;
  margin: 1rem;
}
.main2 .main2card1 .main2card1-1 .track {
  font-size: 1rem;
  position: relative;
  bottom: 3rem;
}
.main2 .main2card1 .main2card1-1 .artist {
  position: relative;
  bottom: 3rem;
}
.main2 .main2card1 .main2card1-2 {
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem -3rem 3rem 0rem rgb(40, 40, 40);
  z-index: 1;
}
.main2 .main2card1 .main2card1-2 .h5 {
  padding: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 200;
  font-size: 0.8rem;
}
.main2 .main2card2 {
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem -0.1rem 0.5rem 0.1rem rgb(150, 150, 150);
}
.main2 .main2card2 .main2card2-1 {
  width: 100%;
  height: 15rem;
  display: inline-block;
  position: relative;
}
.main2 .main2card2 .main2card2-1 .dominic {
  width: 100%;
  height: 100%;
}
.main2 .main2card2 .main2card2-1 a {
  color: rgb(255, 255, 255);
  z-index: 2;
  margin: 1rem;
}
.main2 .main2card2 .main2card2-1 .track {
  font-size: 1rem;
  position: relative;
  bottom: 3rem;
}
.main2 .main2card2 .main2card2-1 .artist {
  position: relative;
  bottom: 3rem;
}
.main2 .main2card2 .main2card2-2 {
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem -3rem 3rem 0rem rgb(40, 40, 40);
  z-index: 1;
}
.main2 .main2card2 .main2card2-2 .h5 {
  padding: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 200;
  font-size: 0.8rem;
}
.main2 .main2card3 {
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem -0.1rem 0.5rem 0.1rem rgb(150, 150, 150);
}
.main2 .main2card3 .main2card3-1 {
  width: 100%;
  height: 15rem;
  display: inline-block;
  position: relative;
}
.main2 .main2card3 .main2card3-1 .racionais {
  width: 100%;
  height: 100%;
}
.main2 .main2card3 .main2card3-1 a {
  color: rgb(255, 255, 255);
  z-index: 2;
  margin: 1rem;
}
.main2 .main2card3 .main2card3-1 .track {
  font-size: 1rem;
  position: relative;
  bottom: 3rem;
}
.main2 .main2card3 .main2card3-1 .artist {
  position: relative;
  bottom: 3rem;
}
.main2 .main2card3 .main2card3-2 {
  width: 100%;
  height: 3rem;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem -3rem 3rem 0rem rgb(40, 40, 40);
  z-index: 1;
}
.main2 .main2card3 .main2card3-2 .h5 {
  padding: 0.5rem;
  color: rgb(66, 66, 66);
  font-weight: 200;
  font-size: 0.8rem;
}

.main3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main3 a:hover {
  text-decoration: underline;
}
.main3 div {
  width: 15rem;
  height: 18rem;
  margin-top: 2rem;
}

.main4 {
  width: 25rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}
.main4 a {
  font-size: 1rem;
  color: black;
}
.main4 a:hover {
  text-decoration: underline;
}

.main4div {
  width: 90%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
}

.main4-1 {
  margin-top: 1rem;
  height: 30%;
}

.buttom {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  margin: 0.5rem;
  background-color: #d5d5d5;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plays {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(133, 132, 132);
}

.main4-2 {
  margin-top: -4rem;
  justify-content: center;
  background-color: #f7ecc8;
  border-radius: 0.3rem;
  padding: 2rem;
}
.main4-2 h5 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
.main4-2 .pro {
  height: 3rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 200, 0, 0.8117647059);
  border: none;
}
.main4-2 .pro:hover {
  background-color: #ffc801;
  font-size: 0.9rem;
}

.main4-3 {
  margin-top: 3rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
}
.main4-3 .h2 {
  align-items: flex-start;
  margin-bottom: 1rem;
  font-weight: 200;
}
.main4-3 .h4 {
  margin-left: 1rem;
}
.main4-3 .searchfor {
  width: 100%;
  height: 3rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EEEEEE;
}
.main4-3 .searchfor .seta {
  width: 3.5rem;
  height: 100%;
  background-color: #AEAEAE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main4-3 .searchfor .seta:hover {
  background-color: #B90000;
}

.footer {
  width: 100%;
  height: 24rem;
  background-color: black;
  margin-top: 5rem;
}
.footer .footer1 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}
.footer .footer1 .h5 {
  color: rgb(66, 66, 66);
  font-size: 1rem;
  margin: 0.5rem;
}
.footer .footer1 .a {
  color: white;
}
.footer .footer1 .footercolunas {
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}
.footer .footer2 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer2 .h5 {
  color: rgb(66, 66, 66);
  margin-left: 15rem;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */